body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#game-board {
    background-color: #000;
    border: 1px solid #fff;
}